header {
    display: flex;
    justify-content: space-around;
    padding: 0.7vw;
    color: #ffffff;
    position: fixed;
    width: 100%;
    background: ccc;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1000;
}

header nav {
    display: flex;
    gap: 3vw;
    align-items: center;
    font-size: 1vw;
}

header nav li:hover {
    transition: 0.4s ease-in-out;
    transform: translateY(-0.26vw);
}

header nav .register, .login {
    background-color: #ffffff;
    color: #4682b4;
    padding: 0.5vw 1vw;
    border-radius: 5px;
    cursor: pointer;
}

header nav .register:hover, header nav .login:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.4s ease-in-out;
}