*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

hr{
    border: 1px solid #000000;
}

#red{
    color: #ff0000;
}

#blue{
    color: #0000ff;
}

#green{
    color: #008000;
}

#red, #blue, #green{
    font-weight: 900;
}