html {
  scroll-behavior: smooth;
}

#hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url(/Site/public/assets/images/Gemini_Generated_Image_gbsxi1gbsxi1gbsx.png);
    background-size: cover;
    background-position: center;
}

#heroContent {
    text-align: justify;
    color: #ffffff;
    width: 30vw;
    padding-left: 7vw;
}

#heroContent .heroTitle {
    margin-bottom: 1vw;
}

#heroContent .heroParagraph {
    line-height: 1.4vw;
    font-size: 1vw;
}

#heroContent .btnLearnMore button {
    margin-top: 2vw;
    display: flex;
    justify-content: flex-start;
    border: none;
    background: #4682B4;
    padding: 0.6vw;
    color: #ffffff;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.7vw;
    font-weight: 700;
}

#heroContent .btnLearnMore button:hover {
    transition: 0.4s ease-in-out;
    transform: translateY(-0.26vw);
    box-shadow: 1px 1px 10px #045a56;
    color: #ffd700;
    font-weight: 900;
}

#aboutMe {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vw;
    flex-direction: row-reverse;
    background-color: #1D1F2C;
}

#aboutMe #myImage img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2vw;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border: 1px solid #ffffff;
    filter: blur(2vw);
}

#aboutMe .aboutMeText {
    text-align: justify;
    font-size: 1vw;
    color: #ffffff;
}

#aboutMe .aboutMeText h2 {
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

#aboutMe .aboutMeText p {
    line-height: 1.4vw;
    width: 40vw;
}

#englishMap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vw;
    background-color: #1D1F2C;
}

#englishMap .countriesSpeakEnglish img{
    width: 60vw;
    height: 28vw;
    border-radius: 1vw;
    overflow: hidden;
    margin-right: 2vw;
    object-fit: cover;
    border: 1px solid #000000;
    box-shadow: 1px 1px 20px #000000;
    background-color: #f3ebeb;
}

#englishMap .explainingCountries {
    text-align: justify;
    width: 30vw;
    font-size: 1vw;
    line-height: 1.8vw;
    color: #ffffff;
}

#englishMap h2 {
    margin-bottom: 2vw;
}

#learn {
    padding: 5vw;
    background-color: #1D1F2C;
}

.learningTitle {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.learningTitle .leftSide {
    border: 1px solid #ffffff;
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    height: 20vw;
    box-shadow: 1px 1px 20px #000000;
    border-radius: 1em;
    width: 100vw;
    position: relative;
    background-color: rgba(29, 31, 44, 0.4);
}

.leftSide h2 {
    font-size: 1.4vw;
    width: 20vw;
    text-align: center;
}

.leftSide .usa, .leftSide .uk, .leftSide .aussie{
    color: #ffffff;
    text-align: center;
    border-radius: 0.4vw;
    padding: 0.5vw;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 10px #000000;
}

.leftSide .usa:hover, .leftSide .uk:hover, .leftSide .aussie:hover{
    transition: 0.4s ease-in-out;
    transform: translateY(-0.26vw);
    box-shadow: 1px 1px 10px #045a56;
    color: #d8c6c6;
    font-weight: 900;
}

.leftSide .usa{

    color: #ffffff;
}

.learningTitle .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 60vw;
    line-height: 1.4vw;
    margin-left: 6vw;
}

.learningTitle .rightSide h2 {
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.learningTitle .rightSide p {
    text-align: justify;
    font-size: 1vw;
}

.aboutUsEnglish, .aboutUKEnglish, .aboutAussieEnglish {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 2vw;
    height: 20vw;
}

.usFlag, .ukFlag, .aussieFlag {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    align-self: start;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: none;
    align-items: end;
    position: absolute;
    left: 47vw;
}

#mission {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10vw;
    background-color: #1D1F2C;
    flex-direction: row-reverse;
    color: #ffffff;
}

#mission .sgd {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    box-shadow: 1px 1px 20px #000000;
    border-radius: 1em;
}

#mission .sgd img {
    width: 100%;
}

#mission .sgdExplain {
    width: 35%;
}

footer {
    display: flex;
}

footer nav {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    font-size: 1vw;
}

footer .logo{
    background: #000000;
}

.buttons {
    display: flex;
    gap: 1vw;
}

.buttons .btnSignUp, .buttons .btnLogin {
    border: transparent;
    width: 7vw;
    height: 2.5vw;
    border-radius: 0.3vw;
    color: #ffffff;
    cursor: pointer;
    font-size: 1vw;
}

.buttons .btnSignUp:hover, .buttons .btnLogin:hover {
    cursor: pointer;
    transform: translateY(-0.26vw);
    transition: 0.4s ease-in-out;
    color: #ffd700;
}

.buttons .btnSignUp {
    background-color: #045a56;
}

.buttons .btnLogin {
    background-color: #4682b4;
}

.logo img {
    width: 30%;
}