main {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1D1F2C;
    width: 17vw;
    height: 43vw;
    margin: 1vw;
    border-radius: 1vw;
    gap: 5vw;
    color: #F4F4F4;
}

aside button {
    width: 10vw;
    height: 3vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1vw;
    border: 2px solid #ffffff;
    font-weight: 800;
    cursor: pointer;
}

aside button:hover {
    cursor: pointer;
    background-color: #ff0000;
    transition: 0.3s ease-in-out;
}

.buttons li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #1B1B22;
    width: 90%;
    margin: 1vw;
    height: 43vw;
    border-radius: 1vw;
    box-shadow: 1px 10px 25px #000000;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card1 {
    margin: 1vw;
    background-color: #0A0F3C;
    grid-column: 1/3;
    grid-row: 2/5;
    border-radius: 1vw;
    color: #F4F4F4;
    border: 1px solid #ffffff;
}

.card1 h2 {
    margin-top: 3vw;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    text-align: center;
    margin-top: 4vw;
    font-size: 1.2vw;
}

.card1 h2 {
    text-align: center;
}

.card2 {
    margin: 1vw;
    background-color: #0A0F3C;
    grid-column: 1/3;
    grid-row: 5/8;
    border-radius: 1vw;
    color: #F4F4F4;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff;
}

.card2 .dialects {
    display: flex;
    text-align: center;
    gap: 5vw;
    margin-top: 4vw;
    font-size: 1.2vw;
}

.card2 h2 {
    margin-top: 3vw;
}

.card3 {
    background-color: #1A0933;
    grid-column: 3/5;
    grid-row: 1/2;
    margin: 1vw;
    color: #F4F4F4;
    border-radius: 1vw;
    border: 1px solid #ffffff;
}

.card3 .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3 .values {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card4 {
    background-color: #1A0933;
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 1vw;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4F4;
    border: 1px solid #ffffff;
}

#value {
    font-size: 1.3vw;
    font-weight: 800;
}

.chart1 {
    grid-column: 3/5;
    grid-row: 2/5;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    background-color: #0A0F3C;
    border: 1px solid #ffffff;
}

.chart2 {
    grid-column: 3/5;
    grid-row: 5/8;
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    background-color: #0A0F3C;
    border: 1px solid #ffffff;
}

#myChart {
    width: 100%;
    height: 100%;
    display: flex;
}

.yellow {
    color: #F6CC4E;
}
.red {
    color: #FF4C4C;
}
.green {
    color: #3BCF5A;
}

.green, .red, .yellow {
    font-size: 1.4vw;
}

.firstValue, .secondValue, .thirdValue {
    text-align: center;
}

#valueUK, #valueUS, #valueUKError, #valueUSError {
    font-size: 1.7vw;
}

#dialectChosen {
    font-weight: 700;
    color: #FF4C4C;
}

