body {
    overflow: hidden;
}

aside {
    background-color: blue;
    width: 100%;
    height: 100%;
    border-radius: 1vw 0 0 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/5;
}

main {
    display: grid;
    grid-template-columns: 245px 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr;
    height: 43.4vw;
    width: 98%;
    background-color: rgb(231, 220, 206);
    margin: 1vw;
    border-radius: 1vw;
}

main .boxes {
    margin: 1vw;
}

main .boxes .box {
    background-color: red;
    height: 4vw;
    width: 100%;
}

main .box1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

main .box2 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.rightTopSide {
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: blue;
}

.chart1 {
    grid-column: 2/4;
    grid-row: 3/5;
}