main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 0.15vw solid #000000;
    width: 25vw;
    height: 30vw;
    gap: 1vw;
}

form input {
    width: 80%;
    text-align: center;
    height: 2vw;
    background: none;
    border: none;
    border-bottom: 1px solid #000000;
}

form input:focus {
    outline: none;
}

form .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 4vw;
}

form button {
    width: 65%;
    justify-content: center;
    align-items: center;
    height: 2vw;
    border: none;
    background: hwb(138 31% 29%);
    border-radius: 1vw;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 600;
}

form button:hover {
    box-shadow: 0 0 0.5vw #1c4902;
    transition: 0.4s ease-in-out;
    transform: translateY(-0.26vw);
}

form .goBack a{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 1vw;
    left: 1vw;
    top: 1vw;
    font-size: 1vw;
}