body {
    background-color: #000000;
    position: relative;
}

#sobre {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    min-height: 100vh;
    gap: 1vw;
    background: url(/assets/images/pexels-ffion-scott-1772560678-28199964.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#sobre .title {
    font-size: 1.8vw;
}

#sobre .paragraph {
    width: 20vw;
    font-size: 1vw;
    line-height: 1.4vw;
    text-align: justify;
}

#sobre .content {
    margin-left: 3vw;
}

#sobre .buttons {
    display: flex;
    justify-content: space-between;
}

#sobre .buttons button{
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0.6vw;
    margin-top: 2vw;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9vw;
}

#sobre .buttons button:hover{
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 1vw #ffffff;
    border: none;
    cursor: pointer;
    transform: translateY(-0.26vw);
}

#sobre .paragraph .aqui {
    color: #ff0000;
    cursor: pointer;
}

#user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-radius: 1vw; 
    height: 4vw;
    width: 9vw;
    position: absolute;
    right: 0;
}

#elements {
    display: none;
    flex-direction: column;
}

.fa-regular {
    color: #ffffff;
}

#pfp {
    border: 1px solid #ffffff;
    border-radius: 100%;
    padding: 0.8vw;
    cursor: pointer;
}

#pfp button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* .cardLogout {
    background-color: gray;
    width: 20vw;
    height: 7vw;
    border-radius: 1vw;
    position: absolute;
    top: 5vw;
    right: 0;
    z-index: 9999;
} */