main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #00247D, #ffffff 30%, #CF142B);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 70vh;
    border-radius: 0.8vw;
    border: 1px solid #000000;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.container .imgOverflow,
.right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transition: all 0.6s ease-in-out;
}

.container .imgOverflow {
    left: 0;
    border-radius: 0.8vw 0 0 0.8vw;
}

.right {
    left: 50%;
    border-radius: 0 0.8vw 0.8vw 0;
}

.container .imgOverflow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .signSide {
    padding: 2vw;
    border-radius: 0.8vw;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.container .signSide h3, .container .loginSide h3{
    font-size: 2vw;
}

.container .signSide .inputsSignup {
    width: 15vw;
}

.container .signSide .inputsSignup input {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.container .signSide .inputsSignup .inputUser,
.container .signSide .inputsSignup .inputEmail,
.container .signSide .inputsSignup .inputPasswd,
.container .signSide .inputsSignup .inputConfirmPasswd {
    border-bottom: 1px solid #000000;
    margin-bottom: 1vw;
}

.container .signSide .btnSignup button {
    width: 13vw;
    height: 2.2vw;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 1vw;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 600;
}

.container .signSide .btnSignup button:hover {
    background: linear-gradient(90deg, #00247D, #ffffff 30%, #CF142B);
}

.container .signSide .haveAccount button {
    background: none;
    border: none;
    font-size: 0.8vw;
    font-weight: 700;
    cursor: pointer;
}

.container .signSide .haveAccount button:hover {
    color: #00247D;
    transition: 0.4s ease-in-out;
}

.container .loginSide {
    padding: 2vw;
    border-radius: 0 0.8vw 0.8vw 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

.container .loginSide .inputsLogin {
    width: 15vw;
}

.container .loginSide .inputsLogin input {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.container .loginSide .inputsLogin .inputEmailLogin,
.container .loginSide .inputsLogin .inputPasswdLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 1vw;
}

.container .loginSide .btnLogin button{
    border: 1px solid #000000;
    border-radius: 1vw;
    padding: 0.5vw;
    width: 13vw;
    height: 2.2vw;
    background: transparent;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.container .loginSide .btnLogin button:hover{
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, #00247D, #ffffff 30%, #CF142B);
    transition: background 0.5s ease-in-out;
}

.container .loginSide .options {
    display: flex;
    gap: 3vw;
    margin-top: 1vw;
}

.container .loginSide .options .createAccount button,
.container .loginSide .options .forgotPasswd button {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 700;
    background: none;
    border: none;
    font-size: 0.8vw;
}

.container .loginSide .options .createAccount button:hover,
.container .loginSide .options .forgotPasswd button:hover {
    transition: 0.4s ease-in-out;
    color: rgb(255, 0, 0);
}

.field {
    position: relative;
    margin: 1.2rem 0;
    width: 100%;
}

.field input {
    width: 100%;
    padding: 1rem 2.5rem 0.5rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ffffff;
    font-size: 0.8vw;
    outline: none;
    transition: border-color 0.2s;
}

.field input:focus {
    border-color: #4682b4;
}

.field label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 0.9vw;
    pointer-events: none;
    transition: all 0.2s ease;
    padding: 0 0.25rem;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 0.8rem;
}

.field i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
}

input:-webkit-autofill {
    -webkit-box-shadow: #ffffff inset;
    -webkit-text-fill-color: #000; 
    transition: background-color 5000s ease-in-out 0s;
}
