main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #02174b 50%, #fb818f 50%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 45.24vw;
    border: 1px solid #000000;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
    color: #ffffff;
}

.container .imgOverflow,
.right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    transition: all 0.6s ease-in-out;
}

.container .imgOverflow {
    left: 0;
}

.container .right {
    left: 50%;
}

.container .imgOverflow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .signSide {
    padding: 2vw;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.container .signSide h3, .container .loginSide h3{
    font-size: 2vw;
}

.container .signSide .inputsSignup {
    width: 15vw;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.container .signSide .inputsSignup input {
    border: none;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.container .signSide .inputsSignup .inputUser,
.container .signSide .inputsSignup .inputEmail,
.container .signSide .inputsSignup .inputPasswd,
.container .signSide .inputsSignup .inputConfirmPasswd {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1vw;
    width: 28vw;
}

.container .signSide .btnSignup button {
    width: 13vw;
    height: 2.2vw;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 1vw;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
}

.container .signSide .btnSignup button:hover {
    
}

.container .signSide .haveAccount button {
    background: none;
    border: none;
    font-size: 0.8vw;
    font-weight: 700;
    cursor: pointer;
}

.container .signSide .haveAccount button:hover {
    color: #ffffff;
    transition: 0.4s ease-in-out;
}

.container .loginSide {
    padding: 2vw;
    border-radius: 0 0.8vw 0.8vw 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

.container .loginSide .inputsLogin {
    width: 15vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .loginSide .inputsLogin input {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ffffff;
}

.container .loginSide .inputsLogin .inputEmailLogin,
.container .loginSide .inputsLogin .inputPasswdLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1vw;
    width: 28vw;
}

.container .loginSide .btnLogin button{
    border: 1px solid #ffffff;
    border-radius: 1vw;
    padding: 0.5vw;
    width: 13vw;
    height: 2.2vw;
    background: transparent;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #ffffff
}

.container .loginSide .btnLogin button:hover{
    color: rgb(255, 255, 255);
}

.container .loginSide .options {
    display: flex;
    gap: 3vw;
    font-size: 1vw;
    margin-top: 1vw;
}

.container .loginSide .options .createAccount button,
.container .loginSide .options .forgotPasswd button {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 700;
    background: none;
    border: none;
    font-size: 0.8vw;
}

.container .loginSide .options .createAccount button:hover,
.container .loginSide .options .forgotPasswd button:hover {
    transition: 0.4s ease-in-out;
    color: #ffffff;
}

.goBackLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1vw;
    right: 1vw;
    gap: 1vw;
}

.goBackLogin button {
    background: none;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.goBackLogin i {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 1vw;
}

.goBackSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1vw;
    left: 1vw;
    gap: 1vw;
}

.goBackSignUp button {
    background: none;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
}

.goBackSignUp i {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

.field {
    position: relative;
    margin: 1.2rem 0;
    width: 100%;
    color: #ffffff
}

.field input {
    width: 100%;
    padding: 1rem 2.5rem 0.5rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #ffffff;
    font-size: 0.8vw;
    outline: none;
    transition: border-color 0.2s;
    color: #ffffff
}

.field input:focus {
    border-color: #4682b4;
}

.field label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 0.9vw;
    pointer-events: none;
    transition: all 0.2s ease;
    padding: 0 0.25rem;
}

.erroUser, .erroEmail, .erroPasswd {
    color: red;
    font-size: 0.7vw;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    position: relative;
    bottom: 1vw;
    display: none;
}

.accountCreated, .accountLogIn {
    display: none;
    color: #48720a;
    font-weight: 700;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.accountLogIn img {
    width: 15%;
}